.container{
    width:800px;
    height:600px;
    border:1px solid #333;
    overflow-y: auto;
    margin:20px auto;
    position:relative;
}
nav{
    position:sticky;
    position:-webkit-sticky; /* Safari */
    z-index:2;
    top:0;
    margin:0;
    padding:0;
    width:100%;
}
.gnb{
    list-style:none;
    margin:0;
    padding:0;
    background:#666;
    overflow:hidden;
}
.lnb{
    border:1px solid #666;
    list-style:none;
    margin:0;
    padding:0;
    display:none;
    position:absolute;
    z-index:100;
    top:30px;
    left:0;
    width:100%;
}
.lnb li{
    border-bottom:1px dashed #666;
    height:40px;
}
.lnb li>a{
    display:block;
    line-height:40px;
    text-align:center;
    text-decoration: none;
    color:#666;
    background:#fff;
}
.lnb li>a:hover{
    background:#666;
    color:#fff;
}
/*  .gnb::after{
    content:"";
    display:block;
    clear:both; 
} */

.gnb a{
    display:block;
    text-decoration: none;
    color:#fff;
    text-align:center;
    padding:15px 18px;
}
.gnb li{
    float:left;
    position:relative;
}
li a:hover, .act{
    background-color: brown;
}
.gnb li:last-child{
    float:right;
}
#home{
    padding:100px 30px;
    background:yellow;
}
#news{
    padding:100px 30px;
    background:yellowgreen;
}
#product{
    padding:100px 30px;
    background:pink;
}
#contact{
    padding:100px 30px;
    background:gray;
}